@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    ;
    --body-bg               : #292e39;
    --header-bg-color       : #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow  : rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    }

    //dropdown
    --dropdown-bg-color    : #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color : brightness(0) saturate(100%) invert(18%) sepia(14%) saturate(797%) hue-rotate(186deg) brightness(94%) contrast(91%);
    --menu-border-color    : #171c28;
    --menu-item-icon-color : brightness(0) saturate(100%) invert(91%) sepia(10%) saturate(39%) hue-rotate(202deg) brightness(106%) contrast(98%);
}