@use "../abstracts";


%flexItemsCenter {
    display    : flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0px 2rem 6rem 1rem var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    padding : 3rem 0;
    position: relative;

    @include abstracts.breakpoint(md) {
        justify-content: space-between;
        padding        : 1.6rem 0;
    }

    @include abstracts.breakpoint(lg) {
        padding: 2rem 0;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block
        }
    }
}

.navbar {
    margin-left: 12.9rem;

    @include abstracts.breakpoint(xl) {
        margin-left: 2.8rem;
    }

    @include abstracts.breakpoint(lg) {
        display: none
    }

    &__list {
        @extend %flexItemsCenter;
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

    }


    &__link {
        @extend %flexItemsCenter;
        height     : 5rem;
        gap        : 6px;
        font-size  : 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        padding    : 0 1.5rem
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap        : 2rem;
    margin-left: auto;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;
        min-width    : 5rem;
        height       : 5rem;
        border-radius: 0.8rem;
        background   : var(--top-act-group-bg-color);
        box-shadow   : 0px 2rem 6rem 1rem var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none
        }
    }

    &__group--single &__btn {
        padding: 1.3rem
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 1.3rem 2rem;
        cursor : pointer;
    }

    &__title {
        margin-left: 1rem;
        font-size  : 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width     : 1px;
        height    : 3rem;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display      : block;
        width        : 5rem;
        height       : 5rem;
        border-radius: 0.8rem;
        cursor       : pointer;
    }
}