%flexItemsCenter {
    display    : flex;
    align-items: center;
}

.header {
    background-color: #eee;
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 3rem 0
}

.navbar {
    margin-left : 14.4rem;
    margin-right: auto;

    &__list {
        @extend %flexItemsCenter;
        column-gap: 3rem;
    }

    &__link {
        @extend %flexItemsCenter;
        gap        : 6px;
        font-size  : 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 2rem;

    &__group {
        @extend %flexItemsCenter;
        min-width    : 5rem;
        height       : 5rem;
        border-radius: 0.8rem;
        background   : #FFF;
        box-shadow   : 0px 2rem 6rem 1rem rgba(237, 237, 246, 0.20);
    }

    &__group--single &__btn {
        padding: 1.3rem
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 1.3rem 2rem;
        cursor : pointer;
    }

    &__title {
        margin-left: 1rem;
        font-size  : 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width     : 1px;
        height    : 3rem;
        background: #EDEDF6;
    }

    &__avatar {
        display      : block;
        width        : 5rem;
        height       : 5rem;
        border-radius: 0.8rem;
        cursor       : pointer;
    }
}