.dropdown {
    position      : absolute;
    left          : 0;
    padding-top   : 5rem;
    // display    : none;
    width         : min(124rem, 100%);

    &__inner {
        position     : relative;
        max-height   : min(58.2rem, 100vh - 15.8rem);
        padding      : 3rem;
        border-radius: 2rem;
        background   : var(--dropdown-bg-color);
        box-shadow   : 0px 4rem 9rem 2rem var(--dropdown-shadow-color);

        &::before {
            content  : url("../icons/dropdown-arrow.svg");
            position : absolute;
            top      : -1.3rem;
            left     : var(--arrow-left-pos);
            translate: -50% 0;
            filter   : var(--dropdown-arrow-color)
        }
    }
}

.top-menu {
    height: 100%;

    &__main {
        width       : 29.2rem;
        height      : 100%;
        border-right: 1px solid var(--menu-border-color)
    }
}

.menu-column {

    display: flex;
    gap    : 1.4rem;

    &__icon {
        flex-shrink: 0;
        width      : 3.6rem;
        height     : 3.6rem;
        position   : relative;
    }

    &__content {
        flex: 1
    }

    &__icon-1 {
        width     : 3rem;
        height    : 3rem;
        object-fit: cover;
    }

    &__icon-2 {
        width     : 2.4rem;
        height    : 2.4rem;
        object-fit: cover;
        position  : absolute;
        right     : 0;
        bottom    : 0;
    }

    &__heading {
        margin-top : 4px;
        font-size  : 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 1.9rem;
    }

    &__link {
        display    : block;
        padding    : 7px 0;
        font-size  : 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }

    &__link:hover {
        font-weight: 500;
        color      : #0071DC;
    }

}